$base-font-size: 16px;
$line-height: 1.69;
$scale-ratio: 2;
$rhythm: $base-font-size * $line-height;
$paragraph-rhytm: 1;

$snow-white:rgba(126, 214, 223, 0.05);
$charcoal: #333;
$pure-white: #fff;
$white-text: #ccc;
$green: rgba(34, 166, 179, 1);
$light-green: rgba(126, 214, 223, 1);
$red: #c23616;
$pink: rgba(232, 67, 147, 1);
$light-pink: rgba(252, 152, 187, 1);
$tablet: 768px;

$focal-color: $green;
$contrast-background: $pure-white;
$content-background: $snow-white;
$accent-color: $pink;
$accent-light-color: $light-pink;

html {
  overflow: auto;
}

body {
  color: $charcoal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: $rhythm*2 0 0 0;
  width: 100%;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    width: calc(100% - #{$rhythm});
    margin: 0 0 0 auto;
  }
}

.logo-container {
  left: 0;
  position: fixed;
  background-color: $contrast-background;
  top: 0;
  width: 100%;
  height: $rhythm*2;
  transition: 0.2s all ease-in;
  box-shadow: 4px 0 11px rgba(0, 0, 0, 0.2);
  z-index: 500;
  display: flex;
  flex-direction: row;

  .logo,
  .logo-hover {
    width: $rhythm * 2;
  }

  .logo-hover { display: none; }

  .logo { display: block; }

  .brand-logo {
    text-transform: uppercase;
    margin: auto;
    font-size: $base-font-size;
    color: $charcoal;
    line-height: $rhythm*2;
    letter-spacing: 2px;

    @media screen and (min-width: $tablet) {
      writing-mode: vertical-lr;
    }
  }

  &:hover {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
    .logo-hover { display: block; }
    .logo { display: none; }
  }

  @media screen and (min-width: $tablet) {
    width: $rhythm*2;
    height: 100vh;
    flex-direction: column;
  }
}

.featured-post {
  height: 100vh;
  min-height: $rhythm * 15;
  min-width: 300px;
  background-color: $content-background;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  box-shadow: 4px 0 11px rgba(0, 0, 0, 0.5);

  .featured-post-content {
    background-color: $contrast-background;
    padding: $rhythm;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.5);
    width: 95%;
    max-width: 350px;
    text-align: left;
    transition: 0.4s all ease-out;

    .featured-post-title {
      margin-top: 0;
      font-weight: 100;
      transition: 0.4s all ease-out;
    }

    .featured-btns {
      display: flex;
      justify-content: flex-end;
    }

    &:hover {
      margin-top: -18px;
      box-shadow: 4px 16px 11px 0 rgba(0, 0, 0, 0.5);
      transform: scale(1.02);
    }
  }

  @media screen and (min-width: $tablet) {
    width: 80%;
  }
}

.all-posts {
  position: relative;
  z-index: 100;
  background-color: $charcoal;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: $rhythm;

  .post {
    border-radius: 3px;
    padding: $rhythm/2;
    margin-bottom: $rhythm;
    width: 100%;
    transition: 0.4s border-color ease;
    border-bottom: 1px solid $charcoal;

    &:hover {
      border-color: $focal-color;
    }

    p {
      margin: 0;
      font-weight: 100;
      color: $white-text;
      font-size: $base-font-size;
    }

    span {
      color: lighten($charcoal, 30%);
      font-size: 12px;
      line-height: $base-font-size;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }

  @media screen and (min-width: $tablet) {
    &.featured {
      height: 100vh;
      overflow-y: auto;
    }
  }
}

button {
  cursor: pointer;
  border-radius: 100px;
  background: transparent;
  padding: 5px 1rem;
  border: 1px solid currentColor;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  outline: none;

  &:hover {
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.3);
  }
}

.solid-btn {
  background-color: white;
  margin: $rhythm/2;
  transition: 0.1s all ease;

  &:hover {
    transform: rotate(-10deg);
  }

  &:active {
    transform: rotate(10deg);
  }
}

.post-page-wrapper {
  display: flex;
  background: $snow-white;
  flex-direction: column;
  min-height: 100vh;
  margin: $rhythm*2 0 0 0;
  width: 100%;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    margin: 0 $rhythm*2 0 0;
  }
}

.post-wrapper {
  width: 100%;
  padding: $rhythm;
  box-shadow: 4px 0 11px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 300;
  border-top: 5px solid $green;

  .post-content {
    max-width: 600px;
    margin: 0 auto;

    > ul {
      margin-left: 0;
    }

    > ul li {
      list-style-type: none;
    }

    .post-title {
      font-size: $base-font-size*2;

      @media screen and (min-width: $tablet) {
        font-size: $base-font-size*3;
      }
    }

    .post-toc {
      padding: $rhythm/2;
      background: $pure-white;
      border-radius: 3px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: $rhythm;

      > ul {
        margin-left: 0;

        li {
          list-style-type: none;
        }
      }
    }

    > div > p:first-of-type {
      color: $focal-color;

      @media screen and (min-width: $tablet) {
        font-size: $base-font-size*1.5;
        color: $charcoal;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    width: 80%;
    min-width: 0;
    padding-left: $rhythm*3; //$rhythm*2 (vertical branding bar width) + rhythm
  }
}

.sidebar {
  position: relative;
  z-index: 100;
  background-color: $charcoal;
  padding: $rhythm;
  min-width: 300px;
  flex: 1;
}

.sidebar-heading {
  margin-top: 0;
  font-size: 14px;
  line-height: $base-font-size;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: $light-green;
  width: 100%;
}

.table-of-contents {
  a {
    font-size: $base-font-size;
    color: $white-text;
    transition: 0.4s all ease;

    &:hover {
      color: $focal-color;
    }
  }

  > ul {
    margin-left: 0;
  }
}

.gatsby-highlight pre {
  border-radius: $rhythm/2;
}

.gatsby-highlight-code-line {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
}

.mobile-only {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
